<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>linhaihai page</title>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    
	<el-row>
	  <el-col :span="14" :offset="5" >
		<el-tabs v-model="activeName" type="card" >
			<el-tab-pane label="常用书签" name="first">
				<el-divider content-position="left">常用</el-divider>
        <el-tag v-for="(item,index) in tagDataList1" class="pointer" :key="item.name"  :type="tagTypeList[index%4]" @click="goUrl(item.url)">{{item.name}}</el-tag>
				<el-divider content-position="left">算法</el-divider>
				<el-tag v-for="(item,index) in tagDataList2" class="pointer" :key="item.name"  :type="tagTypeList[index%4]" @click="goUrl(item.url)">{{item.name}}</el-tag>
				<el-divider content-position="left">API</el-divider>
				<el-tag v-for="(item,index) in tagDataList3" class="pointer" :key="item.name"  :type="tagTypeList[index%4]" @click="goUrl(item.url)">{{item.name}}</el-tag>
			</el-tab-pane>
			<el-tab-pane label="个人主页" name="second">
				<a href="https://linhaihai.github.io/">https://linhaihai.github.io/</a>
			</el-tab-pane>
			<el-tab-pane label="其他" name="third">
				<el-button @click="visible = true">Button</el-button>
				<el-dialog :visible.sync="visible" title="Hello world">
				  <p>Try Element</p>
				</el-dialog>
			</el-tab-pane>
		</el-tabs>
	  </el-col>
	</el-row>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          visible: false ,
          activeName : "first",
          tagTypeList:["success","info","warning","danger"],
          tagDataList1:[
            {name:"百度",url:"www.baidu.com"},
            {name:"B站",url:"www.bilibili.com"},
            {name:"头条",url:"www.toutiao.com"},
            {name:"processon",url:"www.processon.com"},
            {name:"github",url:"www.github.com"},
            {name:"maven仓库",url:"https://mvnrepository.com"}
            
          ],
          tagDataList2:[
            {name:"数据结构动画",url:"www.cs.usfca.edu/~galles/visualization/Algorithms.html"}
          ],
          tagDataList3:[
            {name:"常用API",url:"www.apiref.com"},
            {name:"JAVA11",url:"www.apiref.com/java11-zh/index.html"}
          ]
        }
      },
      methods:{
        goUrl(url){
          window.open("http://"+url)
        }
      },
    })
  </script>
  <style>
  
	.pointer{
		cursor:pointer;
    margin-left:10px;
	}
  </style>
  
</html>
